/* Globals */
/* #region */
html {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

strong {
	font-weight: 600;
}

button {
    cursor: pointer;
}

.line {
    border: 2px solid #1c222e;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.container-narrow {
    width: 65%;
}

@media screen and (max-width: 1280px) {
    .container-narrow {
        width: 100%;
    }
}
/* #endregion */
